Create a function that inverts the rgb values of a given tuple.

Examples
color_invert((255, 255, 255)) ➞ (0, 0, 0)
# (255, 255, 255) is the color white.
# The opposite is (0, 0, 0), which is black.

color_invert((0, 0, 0)) ➞ (255, 255, 255)

color_invert((165, 170, 221)) ➞ (90, 85, 34)
Notes
Must return a tuple.
255 is the max value of a single color channel.

In [7]:
def colour_invert(rgb):
    return tuple(255-x for x in rgb)

print(colour_invert((45,67,87)))

(210, 188, 168)

1. Write a Python program to print the following string in a specific format (see the output).
Sample String : "Twinkle, twinkle, little star, How I wonder what you are! Up above the world so high, Like a diamond in the sky. Twinkle, twinkle, little star, How I wonder what you are"
Output :

Twinkle, twinkle, little star,
	How I wonder what you are! 
		Up above the world so high,   		
		Like a diamond in the sky. 
Twinkle, twinkle, little star, 
	How I wonder what you are

In [2]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

2.Write a Python program to find out what version of Python you are using.

In [4]:
import sys
print(sys.version)
print(sys.version_info)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=11, micro=5, releaselevel='final', serial=0)

3. Write a Python program to display the current date and time.
Sample Output :
Current date and time :
2014-07-05 14:34:14

In [16]:
import datetime
now=datetime.datetime.now()
print(now.strftime("%y-%m-%d %H:%M:%S"))

24-02-21 16:04:20

4. Write a Python program that calculates the area of a circle based on the radius entered by the user.
Sample Output :

In [17]:
# Import the 'pi' constant from the 'math' module to calculate the area of a circle
from math import pi

# Prompt the user to input the radius of the circle
r = float(input("Input the radius of the circle : "))

# Calculate the area of the circle using the formula: area = π * r^2
area = pi * r ** 2

# Display the result, including the radius and calculated area
print("The area of the circle with radius " + str(r) + " is: " + str(area))

Input the radius of the circle :  5

The area of the circle with radius 5.0 is: 78.53981633974483

5. Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.

In [20]:
first=input("enter first name")
last=input("enter last name")
full_name=first+" "+last
rev=full_name[::-1]
print("your full name is",full_name)
print("reversed name is",rev)
print("last name followed by first name is",last+" "+first)

enter first name kumar
enter last name aditya

your full name is kumar aditya
reversed name is aytida ramuk
last name followed by first name is aditya kumar

6. Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.
Sample data : 3, 5, 7, 23
Output :
List : ['3', ' 5', ' 7', ' 23']
Tuple : ('3', ' 5', ' 7', ' 23')

In [22]:
lst=[]
n=int(input('enter total number of input'))
for i in range(1,n+1):
    x=int(input('enter number'))
    lst.append(x)

print(lst)
print(tuple(lst))

enter total number of input 5
enter number 1
enter number 2
enter number 3
enter number 4
enter number 5

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [24]:
#using split()
x=input("enter the numbers separated by comma")
y=x.split(",")
print(y)
print(list(y))
print(tuple(y))

enter the numbers separated by comma 1,2,3,4,5

['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

7. Write a Python program that accepts a filename from the user and prints the extension of the file.
Sample filename : abc.java
Output : java

In [25]:
file=input("enter your file name")
x=file.split(".")
file_extension=x[-1]
print("file extension is ",file_extension)

enter your file name index.html

file extension is  html

8. Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

In [26]:
color_list = ["Red","Green","White" ,"Black"]
print("first element is ",color_list[0])
print("last_element is ",color_list[-1])

first element is  Red
last_element is  Black

9. Write a Python program to display the examination schedule. (extract the date from exam_st_date).
exam_st_date = (11, 12, 2014)
Sample Output : The examination will start from : 11 / 12 / 2014

In [31]:
exam_st_date = (11, 12, 2014)
date=exam_st_date[0]
month=exam_st_date[1]
year=exam_st_date[2]
print("your exam date is",str(date) +"/"+str(month)+"/"+str(year))

your exam date is 11/12/2014

In [35]:
exam_st_date = (11, 12, 2014)
print("the exam start date is %i /%i /%i" % exam_st_date)

the exam start date is 11 /12 /2014

10. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.
Sample value of n is 5
Expected Result : 615

5+55+555

In [40]:
n=int(input("enter single digit number"))
a=int("%s" %n)
b=int("%s%s"%(n,n))
c=int("%s%s%s" %(n,n,n))
print(a+b+c)

enter single digit number 5

615

11. Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s).
Sample function : abs()
Expected Result :
abs(number) -> number
Return the absolute value of the argument.

In [41]:
x=-34.56
y=abs(x)
print(x)

-34.56

In [42]:
# Print the docstring (documentation) of the 'abs' function
print(abs.__doc__)

Return the absolute value of the argument.

12. Write a Python program that prints the calendar for a given month and year.
Note : Use 'calendar' module.

In [47]:
!pip install calendar
import calendar
month=int(input("enter month number"))
year=int(input("enter year number"))
print(calendar.month(year,month))

ERROR: Could not find a version that satisfies the requirement calendar (from versions: none)
ERROR: No matching distribution found for calendar

enter month number 2
enter year number 2024

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

13. Write a Python program to print the following 'here document'.
Sample string :
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example

In [48]:
# Use triple double-quotes to create a multi-line string
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

14. Write a Python program to calculate the number of days between two dates.
Sample dates : (2014, 7, 2), (2014, 7, 11)
Expected output : 9 days

In [50]:
from datetime import date
fdate=date(1992,7,7)
ldate=date(1992,7,19)
diff=ldate-fdate
print(diff.days)

12

15. Write a Python program to get the volume of a sphere with radius six

In [52]:
# Define the value of pi
pi = 3.1415926535897931

# Define the radius of the sphere
r = 6.0

# Calculate the volume of the sphere using the formula
V = 4.0/3.0 * pi * r**3

# Print the calculated volume of the sphere
print('The volume of the sphere is: ', V)

The volume of the sphere is:  904.7786842338603

16. Write a Python program to calculate the difference between a given number and 17. If the number is greater than 17, return twice the 
absolute difference.

In [57]:
def adi(n):
    if n<17:
        print(17-n)
    else:
        print(2*abs(17-n))

adi(22)

10

In [55]:
x=17
y=int(input("enter the number"))
z=x-y
if z>0:
    print(2*y)
else:
    print(abs(z))

enter the number 22

5

17. Write a Python program to test whether a number is within 100 of 1000 or 2000.

In [58]:
# Define a function named "near_thousand" that takes an integer parameter "n"
def near_thousand(n):
    # Check if the absolute difference between 1000 and n is less than or equal to 100
    # OR check if the absolute difference between 2000 and n is less than or equal to 100
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))

# Call the "near_thousand" function with the argument 1000 and print the result
print(near_thousand(1000))

# Call the "near_thousand" function with the argument 900 and print the result
print(near_thousand(900))

# Call the "near_thousand" function with the argument 800 and print the result
print(near_thousand(800))

# Call the "near_thousand" function with the argument 2200 and print the result
print(near_thousand(2200))

True
True
False
False

18. Write a Python program to calculate the sum of three given numbers. If the values are equal, return three times their sum.

In [61]:
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
if a==b==c:
    print(3*(a+b+c))
else:
    print(a+b+c)

enter number 78
enter number 78
enter number 78

702

19. Write a Python program to get a newly-generated string from a given string where "Is" has been added to the front.
Return the string unchanged if the given string already begins with "Is".

In [66]:
inp=input("enter the string")
if len(inp) >= 2 and inp[:2] == "Is":
    print(inp)
else:
    print("is "+inp)

enter the string Is

Is

20. Write a Python program that returns a string that is n (non-negative integer) copies of a given string.

In [67]:
# Define a function named "larger_string" that takes two parameters, "text" and "n"
def larger_string(text, n):
    # Initialize an empty string variable named "result"
    result = ""

    # Use a for loop to repeat the "text" "n" times and concatenate it to the "result"
    for i in range(n):
        result = result + text

    # Return the final "result" string
    return result

# Call the "larger_string" function with the arguments 'abc' and 2, then print the result
print(larger_string('abc', 2))

# Call the "larger_string" function with the arguments '.py' and 3, then print the result
print(larger_string('.py', 3))

abcabc
.py.py.py